body{
    background-image: ("./assets/images.confectionary.png")
}
.header
{
    background-color: #FFF;
    height: 80px;
}
.center
{
    width: 960px;
    margin: auto;
}

.center h1
{
    color: #FFF;
    margin-top: 20px;



}
.floatLeft
{
    background-color: teal;
    height: 80px;
    float: left;

}
.floatRight
{
    float:right;
}
.floatRight a
{
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}
.floatRight a:hover
{
    background-color: #FF5599;
    top: 10%;
}
.content
{
    clear: both;
}